In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Q1: Import seaborn library

In [1]:
# write your code here ^_^
import seaborn as sns

In [2]:
tips_dataset = sns.load_dataset('tips')

In [4]:
tips_dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Q2: Create a histogram, where the x-axis represents the tip column
- Change the style to 'whitegrid'.
- Split the data out by the day column's categories. Hint: use hue argument.
- Handle the overlapping columns by switching the element argument over to step.

In [4]:
sns.histplot(x=)

## Q2.1 Write your top three findings 
- 
- 
-

# Q3: [Optional] Create a displot, where the x-axis represents the day column
- Split the data out by the sex column's categories. Hint: use hue argument.
- Handle the overlapping columns by switching the multiple argument over to 'dodge'.
- Shrink the bars down using shrink argument to have a nice gap between each of them.
- Change the bars color to 'Set1'.
- Reset the hue order to ['Female', 'Male'].

In [5]:
# write your code here ^_^

## Q3.1 Write your top three findings 
- 
- 
-

# Q4: Create a ecdf plot, where the x-axis represents the tip column
- Change the style to 'darkgrid'.
- Change the font scale to 1.25.
- Split the data out by the time column's categories. Hint: use hue argument.
- Change the lines color to 'summer'.
- Change the line width to 3.

In [6]:
# write your code here ^_^

## Q4.1 Write your top three findings 
- 
- 
-

# Q5: [Optional] Create a box plot, where the x-axis represents the day column and the y-axis represents the tip column
- Change the style to 'whitegrid'.
- Split the data out by the sex column's categories. Hint: use hue argument.
- Change the bars color to 'Paired'.
- Reset the hue order to ['Female', 'Male'].
- Change the line width to 2.5.

In [7]:
# write your code here ^_^

## Q5.1 Write your top three findings 
- 
- 
-

# Q6: Create a violin plot, where the x-axis represents the time column and the y-axis represents the tip column
- Split the data out by the sex column's categories. Hint: use hue argument.
- Split the violin so that each violin contains both sex column's categories. Hint: use split argument.
- Change the shape of the inner part of the violin to 'quartiles'.
- Change the violin color to 'Pastel1'.
- Reset the hue order to ['Female', 'Male'].
- Change the line width to 2.
- Change the legend's location to The upper left.

In [8]:
# write your code here ^_^

## Q6.1 Write your top three findings 
- 
- 
-

# Q7: [Optional] Create a swarm plot, where the x-axis represents the time column and the y-axis represents the total_bill column
- Split the data out by the size column's categories. Hint: use hue argument.

In [9]:
# write your code here ^_^

## Q7.1 Write your top three findings 
- 
- 
-

# Q8: Create a correlation heatmap 
- Adjust the figure's size to be (8,5).
- Change the color map to 'RdBu'.
- Add annotations to the heatmap.
- Set the minimum value to be -1.
- Set the maximum value to be 1.

In [10]:
# write your code here ^_^

## Q8.1 Write your top three findings 
- 
- 
-